
html{
	background: url("../img/green.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

img.bg{
	/* set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px) { /*specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px; /* 50% */
	}
}

body{

}

table#courses {
	width: 420px;
}

table#courses td {
	padding: 1px;
}


.toprow {
	font-style: bold;
	font-size:16px;
	text-align: left;
	color: #00CC00;
}

.leftcol{
	width: 130px;
	font-size: 16px;
	color: white;
}

.rightcol{
	width: 290px;
	font-size: 16px;
	color: white;
}

#header{
	position: fixed;
	top: 0px;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	font-family: "News Cycle", sans-serif;
	text-shadow: 1px 1px 1px black;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.2.5);
	box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255, 0.25), inset 0 -15px 30px rgba(0,0,0, 0.3);
}

#header h2{
	font-weight: normal;
	font-size: 18px;
	text-decoration: none;
	color: #00CC00;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}

#header p{
	color:white;
	font-size:16px;
	float: left;
	padding: 0px 10px;
	margin: 10px 0px;
}

#header img{
	border: none;
}

#header li ul{
	list-style: none;
	padding: 0px;
	margin-bottom: 12px;
}

.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility: hidden;
	width: 0px;
	height: 0px;

}
#header .whiteBorder{
	border: 1px solid white;
}

#header .img_left{
	float:left;
	margin-right: 1px;
	margin-left: 15px;
	width: 80px;
}

#header .black_box{
	background: rgba(0,0,0,0.4);
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}


#header #notifications{
	float:right;
	width: auto;
	margin: 15px 15px 0px;
	padding: 0px;
	overflow: hidden;
}

#header #notifications li{
	margin-right: 12px;
	float: left;
	width: 24px;
	padding: 0px;
	height: 32px;
	list-style: none;
}

#header #notifications li:hover{
	margin-top: -2px;
}

#header_menu{
	margin: 0px;
	padding: 0px;
	width: auto;
}

#header_menu li{
	list-style: none;
	float: left;
	font-size: 17px;
	padding: 12px 14px 14px 14px;
	border-right: 1px solid rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.1);
}

#header_menu li:hover{
	background: rgba(0,0,0,0.3);
}

#header_menu li a{
	display:block;
	color: white;
	text-decoration: none;
}

#header_menu li a:hover{
	color: #cccccc;
}

#header_menu.homeButton{
	padding: 0px 25px 0px 20px;
	border: none;
	background: none;
}

#header_menu .homeButton a{
	background: url("../img/home1.png") top left no-repeat;
	width: 25px;
	height: 25px;
}


#header_menu .homeButton:hover{
	background: rgba(0,0,0,0.1);	
}

#header_menu .homeButton a:hover{
	background: url("../img/home.png") top left no-repeat;
}

/* Program Menu Drop-down */

#header_menu li ul.dropdown{
	display: none;
}

#header_menu li:hover ul.dropdown{
	display: block;
	position: absolute;
	margin: 0 0 0 -15px;
	top: 50px;
	border: 1px solid #111111;
	border-top:none;
	background:rgba(0,0,0,0.5);
	border-radius: 7px 7px 0px 0px;
}

#header_menu li:hover li{
	float: none;
	background: none;
	border: none;
	border-bottom: 1px solid #111111;
	padding: 12px 10px 12px 10px;
}

/* Drop-down default links */

#header_menu li:hover a{
	color: white;
}

#header_menu li:hover a:hover{
	color: #aaaaaa;
}

#header_menu li:hover a.headerLinks{
	font-size: 18px;
	text-decoration: underline;
	color: white;
	margin-top: 10px;
	margin-left: 10px;
}

#header_menu li:hover a.headerLinks:hover{
	color: #cc0000 ;
	cursor: pointer;
}

/* List Links */

#header_menu li:hover a.listLinks{
	font-size: 16px;
	color: white ;
	margin-left: 10px;
}

#header_menu li:hover a.listLinks:hover{
	color: #aaaaaa;
	cursor:pointer;
}

#header_menu.right{
	float: right;
	right: 0px;
	margin-right: 2px;
	border-right: none;
	border-left: 1px solid rgba(0,0,0,0.3);
}

/*Layouts*/

#header .one_column_layout,
#header .two_column_layout,
#header .three_column_layout{
	margin: 1px;
	position:absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
	text-align: left;
}
/* Widththree each layout*/
#header .one_column_layout{width:140px;}
#header .two_column_layout{width:280px;}
#header .three_column_layout{width:420px;}

/*display drop-down on hover*/

#header_menu li:hover .one_column_layout,
#header_menu li:hover .two_column_layout,
#header_menu li:hover .three_column_layout{
	display:block;
	position:absolute;
	margin: 0 0 0 -15px;
	top: 50px;
	background:rgba(0,0,0,0.5);
	border-radius: 0px 0px 7px 7px;
}

#header .col_1,
#header .col_2,
#header .col_3{
	display: inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

#header .col_1{width:130px;}
#header .col_2{width:270px;}
#header .col_3{width:410px;}