html{
	background: url("../img/Pea.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
img.bg{
	/* set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px) { /*specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px; /* 50% */
	}
}

body{

}

#main{
	position: fixed;
	top: 0px;
	left:400px;
	height: 100%;
	float: left;
}

#profile{
	position: fixed;
	top: 0px;
	margin: 0;
	padding-top: 0%;
	padding-bottom: 0%;
	left: 0px;
	width: 400px;
	height: 100%;
	font-family: "Quicksand", sans-serif;
	background: #3B5323;
	float: left;
	}


#circle {
	position: relative;
	display: block;
	margin-top:75px;
	margin-left:100px;
	height: 200px;
	width: 200px;
	line-height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #526F35;

}

#circle .circular {
	position: fixed;
	height: 180px;
	width: 180px;
	margin:10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: url("../img/tara.png") no-repeat;
}

#infobox {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 10%;
	text-align: center;

}

#infobox h1{
	font-weight: bold;
	font-variant: small-caps;
	font-size: 45px;
	color: #9CBA7F;
	padding: 2%;

}

#infobox h3{
	font-weight: normal;
	font-size: 30px;
	color: #9CBA7F;
	margin: 4px;
	padding-bottom: 10px;

}

#infobox p{
	font-weight: normal;
	font-size: 20px;
	color: #9CBA7F;
	margin: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: thin solid #9CBA7F;
	border-top: thin solid #9CBA7F;
}

#infobox #notifications{
	float:left;
	width: 100%;
	padding: 20px;
	overflow: hidden;
}

#infobox #notifications li{
	float: left;
	width: 60px;
	padding: 0px;
	height: 40px;
	list-style: none;
}

#infobox #notifications li:hover{
	margin-top: -2px;
}